doctype html
html
  head
    title= title
    link(rel='stylesheet', 
         href='/stylesheets/styleMobile.css')
    link(rel='stylesheet', 
         href='/stylesheets/styleDesktop.css',
         media="(min-width: 700px)")
    include mixins.pug
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@500&display=swap" rel="stylesheet"> 
  body
    include header
    block content
    include footer