.container_register-formulari
  form(name="form" action="register.php" method="post")
    p Nombres
    input(type="text" name="names" required)
    p Apellidos
    input(type="text" name="surnames" required)
    p Direccion
    input(type="text" name="direction" required)
    p Numero
    input(type="text" name="phone" required)
    p Email 
    input(type="text" name="emailaddress" required)
    input(type="submit" value="register")
    input(type="reset" value="erase")

    